<!DOCTYPE html>
<html lang="en">
<head>
    <title>News-Scraper</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/> -->
</head>
<body>
  <nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Mongo Scraper</a>
					</div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
							<li><a id="saved" href="/saved">Saved Articles</a></li>
						</ul>
						<form class="navbar-form navbar-left">
							<a href="/stories"><button class="btn btn-primary scrape">Scrape New Articles!</button></a>
						</form>
				</div>
			</nav>
{{{ body }}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="app.js"></script>
</body>
</HTML>
