<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>News Scraper!</h1>
        </div>
        <div class="col-xs-3"></div>
        <div id="stories" class="col-xs-6 text-center" class="task">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="app.js"></script>
